<!DOCTYPE html>
<html>
<head>
	<title>用户管理</title>
	<meta charset="utf-8">
</head>
<body>
	<form action="/admin/userDel.php" method="post">
	<table>
		<th></th><th>用户名</th><th>积分</th><th>注册时间</th><th>用户类型</th><!-- <th>积分</th> --><th>详情</th><th>锁定用户</th>
		<!-- 遍历开始 -->
		{foreach $userdata as $key => $value}
		<tr>
			<td><input type="checkbox" name="uid[]" value="28"></td>
			<td>asdf</td>
			<td>{$value['rewardscore']}</td>
			<td>{$value['regtime']}</td>
			<td>{$value['group']}</td>
			<!-- <td><a href="#">积分</a></td> -->
			<td><a href="#">详情</a></td>
			<td><a href="#">{$value['allowlogin']}</a></td>
		</tr>
		{/foreach}
		<!-- 遍历结束 -->

		<tr><td><button type="submit">删除</button></td></tr>
	</table>
	</form>
</body>
</html>