/*css for publish_error*/

960747

.publish_error {
	width: 960px;
	height: 747px;
	margin:0 auto;

}
.publish_error_main{
	width: 626px;
	/*height: 110px;*/
	margin:0 auto;
	border: 3px solid #f2f2f2;
	margin-top: 60px;
	overflow: hidden;
}
.publish_error_main img{
	float: left;
	width: 35px;
	height: 35px;
	margin: 30 17 0 30;
}
.p_e_r{
	float:left;
	height: 45px;
	margin-top:20px;
	font-size:20px;
	line-height:30px;
	width:500;
}
.p_e_r span{
	color: #FF0000;
}
.p_e_r_p{
	color: #3266b2;
}
.p_e_r .logout{
	color: #afd315;
}
.place{
	float: left;
	height:300px;
	width:0px;
}