<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="/public/css/base.css"> 
	<link rel="stylesheet" type="text/css" href="/public/css/index.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/publish_error.css">

<body>
	<div class="publish_error">
		<div class="publish_error_main">
			<img src="../../public/img/check_error.gif" alt="发帖失败">
			<div class="place"></div>
			<div class="p_e_r">
				<p><span class="logout">用户名不能为空，请重新输入</span>......</p>
				<p class="p_e_r_p"><a href="{$refer}">如果你的浏览器没有自动跳转，请点击此链接</a></p>
				<div class="clr" style="clear:both"></div>
			</div>

		</div>
	</div>



