<!DOCTYPE html>
<html>
<head>
	<title>请登录</title>
	<meta charset="utf-8">
	
	 
	<link rel="stylesheet" type="text/css" href="../../public/css/base.css"> <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/index.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/publish_error.css">
</head>
<body>
	{P display('header.html',compact('pid'))}
	{P display('login_not.html')}
	{P display('footer.html')}
</body>
</html>