<div id="search">
			<div class="search_top">
				<ul>
					<li style="" class="search_sy">首页</li>
					<li class="dn"></li>
					<li style="" class="search_js">PHP技术交流</li>
					<li class="dn"></li>
					<li style="" class="search_cx">程序人生</li>
				</ul>
			</div>
			<div class="search_down">
				
					<form action="serach.php" method="get">
						<div class="glass"></div>
						<div class="glass_search"><input type="text" name="search" class="search_input"></div>
						<div class="sh">
							<button type="submit">搜索</button>
						</div>
						<ul style="" class="search_ul">
							<li>热搜：</li>
							<li><a href="#">活动</a></li>
							<li><a href="#">交友</a></li>
							<li><a href="#">教程</a></li><div class="clr"></div>
						</ul>
						<div class="clr"></div>
					</form>
					<div class="path">
						<div class="home"></div>
						<ul class="path_a">
							<li id="icon"></li>
							<li><a href="#">论坛</a></li>
						</ul>
						<div class="clr"></div>
						<ul class="chart">
							<li></li>
							<li>帖子<span class="pipe">|</span></li>
							<li>会员<span class="pipe">|</span></li>
							<li>欢迎新会员</li>
						</ul>
						<div class="clr"></div>
					</div>
				
			</div>
		</div>
		<div class="clr"></div>