<div id="main">
			<!-- 主体分块 大板块开始 -->
			<div class="main-mod">
				<div class="nav"><span><a href="#">PHP技术交流</a></span></div>
				<div class="clr"></div>
				<!-- 一个小版块 -->
				<div class="main-mod-main">
					<div class="mod-left">
						<a href="#"><img src="img/forum.gif" alt=""></a>
						<p><a href="#">内核源码</a><br/>版主：test001</p>

					</div>

					<div class="mod-right">
						<div class="r1"><p>10/9</p></div>
						<div class="r2"><p><a href="#">本论坛超管的账号、密码都为admin</a><br />2015-10-08 10:49:55 admin</p></div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
					<div class="sigline"></div>
				</div>
				
				<div class="clr"></div>
				<!-- 小版块完 -->
					<div class="main-mod-main">
					<div class="mod-left">
						<a href="#"><img src="img/forum.gif" alt=""></a>
						<p><a href="#">内核源码</a><br/>版主：test001</p>
					</div>
					<div class="mod-right">
						<div class="r1"><p>10/9</p></div>
						<div class="r2"><p><a href="#">本论坛超管的账号、密码都为admin</a><br />2015-10-08 10:49:55 admin</p></div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
					<div class="sigline"></div>
				</div>
				
					<div class="main-mod-main">
					<div class="mod-left">
						<a href="#"><img src="img/forum.gif" alt=""></a>
						<p><a href="#">内核源码</a><br/>版主：test001</p>
					</div>
					<div class="mod-right">
						<div class="r1"><p>10/9</p></div>
						<div class="r2"><p><a href="#">本论坛超管的账号、密码都为admin</a><br />2015-10-08 10:49:55 admin</p></div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
					<div class="sigline"></div>
				</div>
					<div class="main-mod-main">
					<div class="mod-left">
						<a href="#"><img src="img/forum.gif" alt=""></a>
						<p><a href="#">内核源码</a><br/>版主：test001</p>
					</div>
					<div class="mod-right">
						<div class="r1"><p>10/9</p></div>
						<div class="r2"><p><a href="#">本论坛超管的账号、密码都为admin</a><br />2015-10-08 10:49:55 admin</p></div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
				</div>

			</div>

			<!-- end of main-mod 大板块 -->
			<!-- 第二个板块开始 -->
				<div class="main-mod">
				<div class="nav"><span>PHP技术交流</span></div>
				<!-- 一个小版块 -->
				<div class="main-mod-main">
					<div class="mod-left">
						<a href="#"><img src="img/forum.gif" alt=""></a>
						<p><a href="#">内核源码</a><br/>版主：test001</p>
					</div>
					<div class="mod-right">
						<div class="r1"><p>10/9</p></div>
						<div class="r2"><p><a href="#">本论坛超管的账号、密码都为admin</a><br />2015-10-08 10:49:55 admin</p></div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
					<div class="sigline"></div>
				</div>
				
				<div class="clr"></div>
				<!-- 小版块完 -->
					<div class="main-mod-main">
					<div class="mod-left">
						<a href="#"><img src="img/forum.gif" alt=""></a>
						<p><a href="#">内核源码</a><br/>版主：test001</p>
					</div>
					<div class="mod-right">
						<div class="r1"><p>10/9</p></div>
						<div class="r2"><p><a href="#">本论坛超管的账号、密码都为admin</a><br />2015-10-08 10:49:55 admin</p></div>
						
					</div><div class="clr"></div>
					<div class="sigline"></div>
					<div class="clr"></div>
				</div>
				
					<div class="main-mod-main">
					<div class="mod-left">
						<a href="#"><img src="img/forum.gif" alt=""></a>
						<p><a href="#">内核源码</a><br/>版主：test001</p>
					</div>
					<div class="mod-right">
						<div class="r1"><p>10/9</p></div>
						<div class="r2"><p><a href="#">本论坛超管的账号、密码都为admin</a><br />2015-10-08 10:49:55 admin</p></div>
						<div class="clr"></div>
					</div>
					
					<div class="clr"></div>
					<div class="sigline"></div>
				</div>
					<div class="main-mod-main bt" style=";">
					<div class="mod-left">
						<a href="#"><img src="img/forum.gif" alt=""></a>
						<p><a href="#">内核源码</a><br/>版主：test001</p>
					</div>
					<div class="mod-right">
						<div class="r1"><p>10/9</p></div>
						<div class="r2"><p><a href="#">本论坛超管的账号、密码都为admin</a><br />2015-10-08 10:49:55 admin</p></div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
				</div>

			</div>
			<!-- 第二个板块结束 -->

			<!-- 第三个版块 -->
			<div class="main_bottom">
				<div class="mod-left bottom_left">
					<a href="#"><img src="img/logo_88_31.gif" alt=""></a>
					<p><a href="#">官方论坛</a><br/>提供最新 Discuz! 产品新闻、软件下载与技术交流</p>
				</div>
				<div class="clr"></div>
				<div class="sigline"></div>
				<div class="b_ul">
					<ul>
						<li><a href="#">百度</a></li>
						<li><a href="#">漫游平台</a></li>
						<li><a href="#">YESWAN</a></li>
						<li><a href="#">我的领地</a></li>
					</ul>
				</div>
			</div>

		</div>